.Container {
  max-width: 1200px;
  margin: auto;

  h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--dark-blue);
  }
  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    h2 {
      font-size: 24px;
      font-weight: bold;
      color: var(--dark-blue);
    }
    form {
      background-color: white;
      padding: 42px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 32px 0;
      label {
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-blue);
        display: flex;
        flex-direction: column;
        margin: 10px 0;
      }
      input {
        border: 1px solid var(--dark-blue);
        border-radius: 4px;
        padding: 8px;
        margin: 8px 0;
      }
      .error {
        color: red;
        font-size: 12px;
        margin-top: 4px;
      }
    }
    .submit {
      background-color: var(--dark-blue);
      color: white;
      border: none;
      border-radius: 4px;
      padding: 16px;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
    }
  }
}